__pycache__/DeficitSimulation.cpython-310.pyc
__pycache__/geometricUtils.cpython-310.pyc
__pycache__/*
BOM Wind Data/*
Data/AUS_wind-speed_100m.tif
__pycache__/Input.cpython-310.pyc
__pycache__/Network.cpython-310.pyc
__pycache__/Optimisation_direct.cpython-310.pyc
__pycache__/Optimisation.cpython-310.pyc
__pycache__/Simulation.cpython-310.pyc
Results/OpHist*
